# .env
# node_modules/

# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/

# Build directories
build/
dist/

# Database files
*.sqlite
